deployment:
#	# If you need old FTP instead of SSH: Uncomment this and comment SSH.
#	ftp:
#		host:
#		user:
#		password:

	ssh:
		host:
		user:
		password:

	jobs:
		onBeforeMove:
			- 'https://HOST/?etten-maintainer-job=disable'
#			# Alternatively, you can call SSH commands.
#			- 'ssh /bin/php web/index.php deploy:disableApp'

		onFinish:
			- 'rename /app/config/config.production.neon /app/config/config.local.neon'
			- 'https://HOST/?etten-maintainer-job=enable'
