extensions:
	deployment: Etten\Deployment\NetteExtension\DeploymentExtension


deployment:
	# Environment rewrites global deployment configuration
	environments:
		production: %appDir%/config/config.production.neon

#	# If you need old FTP instead of SSH: Uncomment this and comment SSH.
#	ftp:
#		host:
#		user:
#		password:
#		secured: yes # When TRUE, sometimes fails with: "Unable to build data connection: Operation not permitted" (Windows)

	ssh:
		host:
		user:
		password:

	paths:
		local: %appDir%/..
		remote: /
		ignore:
			- /.idea

	jobs:
		onStart:

		onBeforeUpload:

		onBeforeMove:
			- 'https://HOST/?etten-maintainer-job=disable'

		onFinish:
			- 'rename /app/config/config.production.neon /app/config/config.local.neon'
			- 'https://HOST/?etten-maintainer-job=enable'
