parameters:
	deployment:
		host: hranicka.cz
		user: demo.hranicka.cz
		password: 'demo1.'

extensions:
	deployment: Etten\Deployment\NetteExtension\DeploymentExtension

deployment:
	ftp:
		host: %deployment.host%
		user: %deployment.user%
		password: %deployment.password%
		secured: yes

	paths:
		local: %appDir%/..
		remote: /web
		ignore:
			- /.idea

	jobs:
		onStart:

		onBeforeUpload:

		onBeforeMove:
			- 'https://%deployment.host%/service/deploy?job=beforeMove'

		onFinish:
			- 'https://%deployment.host%/service/deploy?job=finish'
